
<ul>
  <% @posts.each do |post| %>
  <li>
    <%= link_to post.title, post.url %></br>
    <%= pluralize(post.points, 'point') %> by <%= poster(post) %> | <%= link_to "comments", post %>
  </li>
  <% end %>
</ul>


