/*
CONTENTS

1. VARIABLES
    1.1 Colours
    1.2 Typography
    1.3 Very simple spacing
2. BLANKING (a half reset, because I like no margins/borders etc...)
*/
/* 1. VARIABLES ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* 1.1 colours--------------------------------------------*/
/*these are all little hacks :) means the main colour can be as light or saturated as you like*/
/*White is main colour but with 98% lightness */
/*Grey is main colour but with 5% saturation*/
/*Black is main colour but with 5% brightness*/
/* 1.2 typography ----------------------------------------*/
/* 1.3 Very simple spacing---------------------------------*/
/*this can me percentage, pixels or ems etc... used for space inbetween block elements*/
/*used for left and right margins/padding usually in conjunction with $verticalSpace above*/
/* 1.4 Nice design stuff/little shineys------------------------*/
/*1. BLANKING --------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
header, hgroup, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, time,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, button,
table, caption, tbody, tfoot, thead, tr, th, td,
section, article, canvas, nav, footer, aside {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0; }

/*a few little normalize bits (see above) for various browsers*/
section, article, aside, footer, nav, header, hgroup, details, figure, figcaption, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

[hidden] {
  display: none; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

html {
  background: #f9fafa;
  /*Prevents iOS text size adjust after orientation change, without disabling user zoom.*/
  -webkit-text-size-adjust: 100%; }

body {
  font-size: 100%;
  color: #0b0c0e;
  line-height: 1;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 0px 0px 0px #f9fafa; }

/*headers*/
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  margin: 20px 0px; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 2.4em; }

h3 {
  font-size: 1.8em; }

h4 {
  font-size: 1.4em; }

h5 {
  font-size: 1.2em; }

h6 {
  font-size: 1em; }

/*text styling*/
p {
  font-size: 1em;
  line-height: 1.3;
  margin: 20px 0px; }

.lede, p.lede {
  font-size: 110%; }

.feature-text {
  font-weight: bold;
  font-style: italic; }

strong, b {
  font-weight: bold; }

em, i, dfn, var {
  font-style: italic; }

dfn, abbr, abbr[title] {
  border-bottom: 1px dotted #61636b; }

ins {
  border: 1px dotted #61636b;
  border-width: 0px 1px;
  padding: 0px 3px;
  text-decoration: none;
  background-color: rgba(97, 99, 107, 0.15); }

small {
  font-size: 80%; }

del {
  text-decoration: line-through; }

mark {
  background-color: yellow;
  padding: 0px 3px; }

kbd, code, samp, pre {
  font-family: monospace;
  font-size: 120%; }

code {
  background-color: rgba(92, 95, 112, 0.15);
  padding: 0px 3px; }

/*Prevents `sub` and `sup` affecting `line-height` in all browsers.*/
sub, sup {
  font-size: 0.8em;
  line-height: 0;
  vertical-align: baseline;
  position: relative; }

sub {
  top: -0.5em; }

sup {
  bottom: -0.25em; }

address, time {
  font-size: 1em;
  display: block;
  margin: 20px 0px; }

/*changing direction of text dependent on language*/
[dir="ltr"] bdi {
  direction: rtl;
  unicode-bidi: bidi-override; }

[dir="rtl"] bdi {
  direction: ltr;
  unicode-bidi: bidi-override; }

/*links*/
a {
  color: #5c5f70;
  font-weight: normal;
  font-size: 1em; }

a:focus {
  outline: thin dotted; }

a:hover, a:active {
  color: #73778c; }

p a, h1 a, address a, ul a, ol a, dl a, menu a {
  font-size: 100%; }

/*quotes*/
blockquote {
  margin: 20px 20px;
  quotes: '"';
  background-color: rgba(92, 95, 112, 0.15);
  padding: 20px 20px; }

blockquote:before, blockquote:after {
  font-size: 2em; }

blockquote:before {
  content: '“'; }

blockquote:after {
  content: '”';
  text-align: right; }

/*code blocks*/
pre {
  background-color: #0b0c0e;
  margin: 20px 20px;
  padding: 20px 20px;
  color: #f9fafa;
  text-shadow: none;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/*lists, navs and menus*/
ol, ul, dl, menu[type="list"] {
  margin: 20px 40px; }

ol {
  list-style: lower-roman; }

li, dt, dd {
  font-size: 1em;
  line-height: 1.4; }

li {
  padding-left: 20px; }

dl > dd {
  margin-bottom: 0px;
  padding-left: 20px; }

menu[type="toolbar"] {
  list-style: none; }

nav ul, nav ol {
  list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 20px 0px; }

caption {
  margin-bottom: 10px; }

thead {
  background-color: rgba(92, 95, 112, 0.3); }

tr:nth-child(2n) {
  background-color: rgba(92, 95, 112, 0.1); }

th, td {
  text-align: left;
  font-weight: normal;
  font-size: 1em;
  padding: 10px;
  border: 1px solid #61636b; }

/*media*/
/*Prevents modern browsers from displaying `audio` without controls. Remove excess height in iOS 5 devices.*/
audio:not([controls]) {
  display: none;
  height: 0; }

/*forms*/
form {
  width: 100%; }

legend {
  font-size: 1.8em; }

label, input, select, textarea, button {
  display: inline-block;
  box-sizing: border-box;
  margin: 20px 0px;
  width: 300px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  vertical-align: baseline; }

/*Addresses Firefox 3+ setting `line-height` on `input` using `!important` in the UA stylesheet.*/
button, input {
  line-height: normal; }

label {
  margin-bottom: 10px; }

input, select, textarea {
  padding: 6px 8px;
  margin-top: 10px;
  background-color: #f9fafa;
  border-radius: 0px;
  border: 1px solid #5c5f70; }

textarea {
  vertical-align: top; }

input[type="search"] {
  -webkit-appearance: textfield; }

input[type=checkbox] {
  width: 20px;
  border: none; }

input[type=color] {
  width: 100px;
  height: 100px; }

input[type=number] {
  width: 100px; }

/*focus styles*/
input:focus, select:focus, textarea:focus {
  background-color: white; }

/*error styles*/
input.input-error, select.input-error, textarea.input-error {
  border: 4px solid #a3a08f; }

/*button styles*/
html input[type="button"],
input[type="submit"],
input[type="reset"],
button,
.button {
  display: inline-block;
  text-decoration: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #5c5f70;
  border: 1px solid #61636b;
  padding: 8px 10px;
  color: #f9fafa; }

html input[type="button"],
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover,
.button:hover {
  cursor: pointer; }

/*no pointer on disabled buttons*/
button[disabled], input[disabled] {
  cursor: default; }

/*SITE STRUCTURE AND MEDIA QUERIES*/
body > .wrapper {
  width: 920px;
  margin: 0px auto; }

section[role="main"] {
  width: 600px;
  float: left; }

.wrapper > aside {
  width: 300px;
  float: right; }

.wrapper > footer {
  padding-top: 10px;
  text-align: right; }

#wrapper {
  background-image: -webkit-radial-gradient(top, cover, rgba(255, 255, 255, 0.8), rgba(201, 202, 207, 0.8));
  background-image: -moz-radial-gradient(top, cover, rgba(255, 255, 255, 0.8), rgba(201, 202, 207, 0.8));
  background-image: -o-radial-gradient(top, cover, rgba(255, 255, 255, 0.8), rgba(201, 202, 207, 0.8));
  background-image: -ms-radial-gradient(top, cover, rgba(255, 255, 255, 0.8), rgba(201, 202, 207, 0.8));
  background-image: radial-gradient(top, cover, rgba(255, 255, 255, 0.8), rgba(201, 202, 207, 0.8));
  width: 380px;
  margin: 40px auto;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0px 0px 0px 10px rgba(97, 99, 107, 0.3); }